{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="h3 mb-4 text-center font-weight-normal">Inscription</h1>

                        {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}

                        <div class="form-group">
                            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <div class="form-group mt-3">
                            {{ form_label(registrationForm.password, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe'}}) }}
                            {{ form_errors(registrationForm.password) }}
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button class="btn btn-primary btn-block" type="submit">S'inscrire</button>
                            <button
                                    class="btn btn-secondary btn-block"
                                    type="button"
                                    onclick="window.location.href='{{ path('app_login') }}'">
                                Se connecter
                            </button>
                        </div>

                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
